* {
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

:root {
	--color-yellow-highlight: yellow;
	--color-bg-white: whitesmoke;
	--color-link-blue: #3C1BDB;
	--color-dark-blue: #2d14A8;
	--color-very-dar-bl:#180b5c;
	--color-font-black: #2a2b3f;
	--color-light: #eff0f9;
	--color-font-light: #676d72;
	--color-clean-white: white;
	--color-light-blue: #bec8f7;
}

body {
	margin: 0;
	margin-bottom: 2rem;
	color: var(--color-font-black);
	background-color: var(--color-light); 
}

.more_wrapper {
	position: relative;
	align-self: center;
}

#menu_more {
	display: flex;
	height: 2rem;
	width: 50px;
	padding-left: .75rem;
	padding-right: .75rem;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	border: 1px solid var(--color-link-blue);
	cursor: pointer;
}

#menu_more.open >div:first-child,
#menu_more.open >div:last-child {
	opacity: 0;
	visibility: hidden;
}

#menu_more > div {
	content: " ";
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--color-link-blue);
	transition-duration: .2s;
}

.dropdown {
	display: flex;
	min-width: 12rem;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: .75rem;
	background-color: var(--color-bg-white);
	border-radius: 5px;
	box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
	position: absolute;
	top: 50px;
	transition-duration: .2s;
	z-index: 5;
}

.dropdown > a + a{
	padding-top: .5rem;
}

.dropdown.collapsed {
	opacity: 0;
	visibility: hidden;
}

div.wrapper {
	animation: .1s fadein;

}

p, h3 {
	margin: 0;
	line-height: 150%;

}

a {
	color: var(--color-link-blue);
	text-decoration: none;
}

img {
	object-fit: cover;
	border-radius: 8px;
}

a:hover {
	color: var(--color-link-blue);
}

h3 {
	padding-bottom: 1rem;
	font-size: 1.5rem;
}

.misc_data {
	display: flex;
	padding-top: 1rem;
}

.misc_data p  {
	font-size: 825rem;
	margin-right: 1rem;
}

a.primary_button,
input[type="submit"].primary_button{
	height: 2rem;
	color: var(--color-bg-white);
	background-color: var(--color-link-blue);
	font-weight: 700;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	display: inline-block;
	transition-duration: 0.2s;
}

a.primary_button p  {
	line-height: 100%;
	height: 2rem;
}

.primary_button:hover,
 input[type="submit"].primary_button:hover{
	color: var(--color-bg-white);
	background-color: var(--color-very-dar-bl);
}

input[type="text"],
textarea,
select {
	border-style: none;
	border-radius: 8px;
	border: 1px solid var(--color-font-light);
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: 1rem;
}

input[type="text"],
select {
	height: 2rem;
}

input[type="submit"]{
	border-style: none;
	height: 2rem;
	background-color: var(--color-very-dar-bl);
	padding: 0.5rem 1rem;
	color: var(--color-bg-white);
	font-weight: 700;
	border-radius: 8px;
}

fieldset {
	border: 0 none;
}

.form_container input[type="checkbox"] {
	margin-right: .5rem;
	margin-bottom: 1rem;
}



.wrapper {
	width: 70%;
	margin: 0 auto;
	max-width: 1380px;
}

div.popupwindow {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

div.popupwindow form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}


div.popupwindow form > input {
	margin-left: 1rem;
}

div.popupwindow:target {
    visibility: visible;
    opacity: 100;
    background-color: var(--color-bg-white);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .15);
    animation: .15s card_appear;
}

.search_highlight {
    background-color: var(--color-yellow-highlight);
}

nav {
	background-color: var(--color-clean-white);
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .15);
	margin-bottom: 1rem;
	padding: 1rem 0;
	position: sticky;
	top: 0;
	z-index: 100;
}

nav > .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav form {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav input[type="text"] {
	width: 100%;
	margin-right: .25rem;
	flex-shrink: 2;
	min-width: 150px;
}

.logo {
	padding-right: 1rem;
	font-size: 1.5rem;
	font-weight: 700;
}

/* INDEX PAGE */
.top_options {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.top_options div:first-child {
	display: flex;
	justify-content: center;
}

.top_options div:first-child > .primary_button{
	margin-right: 1rem;
}

.card_frame {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.card_frame + .card_frame {
	margin-top: 1rem;
}

.vote_box {
	margin-right: 1rem;
	border-radius: 8px;
	padding: 0.5rem;
	box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .15);
	display: flex;
	background-color: var(--color-bg-white);
	flex-direction: column;
	align-items: center;
	width: 100px;
	flex-grow: 1;
}

.vote_box  p{
	padding-bottom: 0.5rem;
}

div.vote_box >  p.vote_label {
	font-size: 0.725rem;
}

div.vote_box >  p.vote_label + p {
	font-weight: 700;
}
.topic_box {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-radius: 8px;
	box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .15);
	padding: 1rem;
	width: 100%;
	background-color: var(--color-bg-white);
}

.topic_box > div {
	flex-grow: 2;
}

.topic_box p {
	font-size: 1.25rem;
}

div.topic_box .misc_data p {
	font-size: 0.875rem;
	color: var(--color-font-light);
}

.open_all {
	width: 100%;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* FORM */
.form_container {
	padding: 2rem;
	width: 70%;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--color-clean-white);
	border-radius: 8px;
	margin-top: 2rem;
	box-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, .15);
}

.form_container input,
.form_container textarea {
	margin-bottom: 1.5rem;
	margin-right: 0;
}

.form_container label {
	margin-bottom: 0.25rem;
}


/* QUESTION PAGE */
.question_hl {
	margin-top: 4rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.question_hl > h1 {
	margin: 0;
	flex: 1;
}

.question_more {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}

.question_more a:nth-child(2){
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.question_main_content {
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.question_left{
	flex: 2;
}

.question_left > p:first-child {
	font-size: 1.5rem;
	width: 100%;
	padding-right: 1rem;
	padding-bottom: 2rem;
}

.comment_wrapper {
	background-color: var(--color-clean-white);
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .08);
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
	border-radius: 8px;
	padding: 1rem;
	animation: .15s card_appear;
}

.comment_box + .comment_box {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid var(--color-font-light);
}

.comment_more {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .875rem;
	color: var(--color-font-light);
}

.comment_more > div:first-child {
	display: flex;
	align-items: center;
}


.comment_more > div:first-child p + p {
	margin-left: 1rem;
}

.comment_box > p:nth-child(2) {
	padding: .5rem 0 .25rem 0;
	font-size: .875rem;
}

.tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.tag {
	display: inline-block;	
	background-color: var(--color-light-blue);
	font-weight: 700;
	justify-content: center;
	padding: 0.125rem 1rem;
	border-radius: 8px;
	padding-bottom: 0.25rem;
}

.tag + .tag {
	margin-left: .5rem;
}

.tag p, .tag img {
	display: inline-block;
	line-height: 100%;
}

.tag img {
	margin-bottom: -4px;
}

.answer_wrapper {
	margin-top: 4rem;
}

.answer_container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.answer_main {
	flex: 100;
	width: 900px;
	margin-right: 1rem;
}

.answer_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2rem;
}

.answer_top > div {
	display: flex;
}

.answer_top > div > p {
	font-size: 1.5rem;
	padding-left: 0.75rem;
}

.answer_top > div > img {
	margin-top: 0.5rem;
}

.answer_more {
	display: flex;
	justify-content: flex-end;
	min-width: 350px;
}

.answer_more a:nth-child(2) > p {
	margin-left: 1rem;
	margin-right: 1rem;
}

input[type="submit"].answer_delete {
	background-color: transparent;
	color: var(--color-link-blue);
	height: 100%;
	padding: 0;
	font-weight: 400;
	font-size: 1rem;
}

.answer_container .comment_wrapper {
	margin-right: 0;
}

.answer_container .vote_box {
	margin-top: 1rem;
}

div.answer_main.approved_answer::before {
	content: 'APPROVED';
	font-size: .625rem;
	font-weight: 900;
	display: inline-block;
	padding: .225rem .225rem;
	border-radius: 5px;
	margin-left: .875rem;
	margin-bottom: .275rem;
	color: var(--color-clean-white);
	background-color: var(--color-dark-blue);
}

/* Users List */
.users_list > div {
	padding-bottom: 1rem;
}

.users_list > h2 {
	margin-top: 0;
}

.users_list > div + div {
	border-top: 1px solid lightslategray;
	padding-top: 2rem;
}

.users_list div > a > p {
	padding-bottom: .5rem;
	font-weight: 900;
	font-size: 1.125rem;
}

.users_list > div > p + p {
	padding-top: .5rem;
}

/* Basic anim*/
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

@keyframes card_appear {
	from {
		scale: 0;
	}

	to {
		scale: 1;
	}
}









