<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add new question | Askmate1</title>
    <h1>Add New Question</h1>
</head>
<body>
<form action="/add_question" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <br>
    <br>
    <textarea name="title" id="title" cols="20" rows="1"></textarea>
    <br>
    <br>
    <label for="message">Question:</label>
    <br>
    <br>
    <textarea name="message" id="message" cols="35" rows="10"></textarea>
    <br>
    <br>
    <label for="file">Upload a file</label><br>
    <input type="file" id="file" name="image"><br>
    <button type="submit">Add New Question</button>
</form>
</body>
</html>
