{% extends "layout.html" %}
    {% block content %}
        <form class="form_container" action="{% block comment_url %}{{ url_for('add_comment_to_question', question_id = question_id) }}{% endblock %}" method="post">
            <h1>Add Comment</h1>
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10">{% block message %}{% endblock %}</textarea>
            <input class="primary_button" type="submit" value="submit">
        </form>
{% endblock %}