<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="" utf-8>
    <title>Main page</title>
    <h1>Ask Mate</h1>
</head>
<body>
<a href="/add_question">Add New Question</a>
<br>
{% if questions %}
<form action="/" method="post">
	<select name="sort">
		<option value="submission_time_desc">Submission time descending</option>
		<option value="submission_time">Submission time ascending</option>
		<option value="view_number">Sort by view number ascending</option>
		<option value="view_number_desc">Sort by view number descending</option>
		<option value="vote_number">Sort by vote number ascending</option>
		<option value="vote_number_desc">Sort by vote number descending</option>
		<option value="title">Sort by title A-Z</option>
		<option value="title_desc">Sort by title Z-A</option>
		<option value="message">Sort by message A-Z</option>
		<option value="message_desc">Sort by message Z-A</option>
	</select>
	<input type="submit">
</form>
<br>
<table>
    <thead>
    <tr>
        {% for item in headers %}
        <th align="left">{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
    <tr>
        {% for key, value in question.items() %}
        {% if key != 'title' and key == 'message' %}
        <td style="{{ " width:500px;" }}">
        {{ value }}
        </td>
        {% else %}
	{% if key == "image" %}
	<td>
		<img src="{{ value }}">
	<td>
	{% else %}
	{% if key == "title" %}
        <td>
            <a href="{{ "/question/" + question['id'] }}">{{ value }}</a>
            <br>
            <br>
        </td>
	{% endif %}
	<td>
		{{ value }}
	</td>
	{% endif %}
        {% endif %}
        {% endfor %}
        <td><form action="/add_question" method="post">

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</body>
</html>
