{% extends 'layout.html' %}
{% block content %}
<div class="form_container users_list">
<h2>Users</h2>
{% for user in users %}
    <div>
        <a href="{{ url_for('user_page', user_id=user.user_id ) }}"><p>{{ user.user_name }}</p></a>
        <p>Registration Date: {{ user.registration_date }}</p>
        <p>Asked questions: {{ user.asked_questions }}</p>
        <p>Number_of_answers: {{ user.number_of_answers }}</p>
        <p>Number of comments: {{ user.number_of_comments }}</p>
        <p>Reputation: {{ user.reputation }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}