<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
	<a href="/">Back to main page</a>
	<h1>{{ question.title }}</h1>
	<p style="width: 500px">{{ question.message }}</p>
	{% if question.image %}
		<p>{{ question.image }}</p>
	{% endif %}
	<a href="{{ url_for("open_edit_question", question_id=question.id) }}"><p>Edit question</p></a>
	<a href="{{ url_for("add_answer", question_id=question.id) }}"><p>Write an answer</p></a>
	<h3>Answers:</h3>
	<table>
		<thead>
			<tr>
				<td><p>Message</p></td>
				<td><p>Image</p></td>
				<td><p>Action</p></td>
			</tr>
		</thead>
		{% for answer in answers %}
		<tr>
			<td><p>{{ answer.message }}</p></td>
			<td><p>{{ answer.image }}</p></td>
			<td>
				<form action="{{ url_for('delete_answer_from_question_page', answer_id=answer.id) }}" method="post">
					<input type="submit" value="Delete answer" >
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	<form action={{
	"/question/" + this_question_id + "/delete" }} method="post">
	<input type="submit" name="Delete" value="Delete">
	</form>
</body>
</html>
