{% extends "layout.html" %}
{% block content %}
<form class="form_container" action="{{ url_for('add_tag', question_id=question_id) }}" method="post">
<h1>Add existing tags</h1>
    {% for tag in tags %}
        <fieldset>
            <input type="checkbox" id="{{ tag.name }}" name="{{ tag.name }}" value="{{ tag.id }}"><label for="{{ tag.name }}">{{ tag.name }}</label>
        </fieldset>
    {% endfor %}
    <input type="submit">
</form>
    <form class="form_container" action="{{ url_for('add_tag', question_id=question_id) }}" method="post">
        <h1>Create new tag</h1>
        <input type="text" name="new_tag">
        <input type="submit">
    </form>
{% endblock %}