{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="user_info">
            <p class="data_label">Id</p>
            <p>{{ user.user_id }}</p>
            <p class="data_label">Username</p>
            <p>{{ user.user_name }}</p>
            <p class="data_label">Registration date</p>
            <p>{{ user.registration_date }}</p>
            <p class="data_label">Questions</p>
            <p>{{ user.get("asked_questions") }}</p>
            <p class="data_label">Answers</p>
            <p>{{ user.get("number_of_answers") }}</p>
            <p class="data_label">Comments</p>
            <p>{{ user.get("number_of_comments") }}</p>
            <p class="data_label">Reputation</p>
            <p>{{ user.get("reputation") }}</p>
        </div>
        {% if questions %}
            <div class="user_commits">
            <h5>Questions</h5>
                {% for question in questions %}
                   <div>
                        <p class="user_q_title">{{ question.title }}</p>
                        <p class="user_msg">{{ question.message }}</p>
                        {% if session.get('user_id') == user.user_id %}
                            {% if question_answers %}
                                <div class="answers_to_approve">
                                <p>------------------------------</p>
                                    {% for key in question_answers.keys() %}
                                        {% if question.id == key %}
                                            {% for answer in question_answers.get(key) %}
                                                <form action="{{ url_for('approve_answer', answer_id=answer.id, user_id=session.get('user_id')) }}" method="post">
                                                    <input class='check_me' type="checkbox" name="approved" {% if answer.approved == True %} checked {% endif %}>
                                                </form>
                                                <p>{{ answer.message }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                        <a href="{{ url_for('open_question_page', question_id=question.id) }}"><p>Open question page</p></a>
                   </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if answers %}
            <div class="user_commits">
                <h5>Answers</h5>
                {% for answer in answers %}
                    <div>
                        <p class="user_msg">{{ answer.message }}</p>
                        <a href="{{ url_for('open_question_page', question_id=answer.question_id) }}"><p>Open question page</p></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if comments %}
            <div class="user_commits">
                <h5>Comments</h5>
                {% for comment in comments %}
                    <div>
                        <p class="user_msg">{{ comment.message }}</p>
                        <a href="{{ url_for('open_question_page', question_id=comment.question_id) }}"><p>Open question page</p></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}